$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Custom theme
@import "_variables.scss";
  
////////////////////////////////////////////////////////
@import url("//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");

// SCAFFOLDING
// -----------------------------------------------------

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. */
}

footer {
    margin: 50px 0;
}

// NAVBAR
// -----------------------------------------------------

div.subnav {
	.nav > li > a,
	.nav > .active > a,
	.nav > .active > a:hover {
		color: $textColor;
	}
}

div.subnav-fixed {
	top: $navbarHeight;
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

// MISC
// -----------------------------------------------------

.portfolio-item {
    margin-bottom: 25px;
}


// ANIMATION
// -----------------------------------------------------
.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

// MEDIA QUERIES
// -----------------------------------------------------