<div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="hack in $root.hacks">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <span>{{ hack.name }}</span>
        </h3>
        <h5>
          {{ hack.start | dateSuffix:'MMMM d'}} - {{ hack.end | dateSuffix:'d' }}
        </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        <p>
          <a href="{{ hack.url }}" target="_blank">Visit Website</a>
        </p>
    </div>
</div>